{% extends "base.html" %}
{% block title %}Edit Actor{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h3>Edit Actor</h3>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" value="{{ actor.first_name }}" required>
        </div>

        <div class="mb-3">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" value="{{ actor.last_name }}" required>
        </div>

        <div class="mb-3">
            <label>Date of Birth</label>
            <input type="date" class="form-control" name="date_of_birth" value="{{ actor.date_of_birth }}" required>
        </div>

        <button class="btn btn-success">Update</button>
    </form>
</div>
{% endblock %}
